<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.trello.qspiders.frames.HandlingIndividualFramesTest"/>
      <class name="com.trello.qspiders.frames.LoginPage"></class>
      <class name="com.trello.qspiders.frames.HandlingNestedFrame"></class>
      <class name="com.trello.qspiders.frames.TravelBackParent"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
